@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #020617;

  --muted: #64748b;
  --border: #e2e8f0;

  --card: #ffffff;

  --primary: #2563eb;
}

.dark {
  --background: #030712;
  --foreground: #f8fafc;

  --muted: #94a3b8;
  --border: #1e293b;

  --card: #111827;

  --primary: #3b82f6;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.container-custom {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.section-padding {
  padding-block: 6rem;
}